#box {
    width:100px;
    height: 400px;
    background: skyblue;
    cursor: pointer;
    position: relative;
    left: 40%;
    top: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
}
.kuji {
    position: absolute;
    left: 10%;
    bottom: 100%;
    width: 80px;
    height: 0;
    background: orange;
    overflow: hidden;
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
}
.kuji2 {
    height: 100px;
    transition: 0.2s;
}
.omi {
    animation: omi 1s;
}
@keyframes omi {
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
    80% {
    transform: rotate(-10deg);
  }
    100% {
    transform: rotate(0deg);
      }
}
.omi:hover {
   opacity: 0.4; 
}
